extends ./layout.jade

block head
	link(rel="stylesheet", href="public/libraries/jquery.tagsinput/src/jquery.tagsinput.css")
	link(rel="stylesheet", href="public/libraries/summernote/dist/summernote.css")

	script(src="public/libraries/underscore/underscore-min.js")
	script(src="public/libraries/backbone/backbone-min.js")
	script(src="public/libraries/jquery.tagsinput/src/jquery.tagsinput.js")
	script(src="public/libraries/summernote/dist/summernote.min.js")
	
block content
	include ../static/resume.html

	hr
	
	.form-group
		label(for='tags') Add a tag/technologies for search purposes (e.g. Git, Vim, OOP):
		textarea#tags.form-control(rows='1')

	script.
		tags="#{user.tags}";
