doctype html
html(lang="en")
	head
		title= "Resume archive"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(rel='stylesheet', href='/public/libraries/bootstrap/dist/css/bootstrap.min.css')
		link(rel="stylesheet", href="/public/libraries/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/static/css/style.css")
		
		script(src="/public/libraries/jquery/dist/jquery.min.js")
		script(src='/public/libraries/bootstrap/dist/js/bootstrap.min.js')
		
		block head
		
	body
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navigationbar")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/")
						span.fa.fa-cubes
						| &nbsp Resume archive!
				.collapse.navbar-collapse(id="navigationbar")
					ul.nav.navbar-nav.navbar-left
						- if (user)
							li
								a(href="/about")
									i(class="fa fa-diamond")
									| &nbsp About Us

					ul.nav.navbar-nav.navbar-right
						- if (user)
							li
								a(href="/search")
									i(class="fa fa-search")
									| &nbsp Search
							li
								a(href="/rate")
									i(class="fa fa-thermometer-full")
									| &nbsp Rate others                       
							li
								a(href="/builder")
									i(class="fa fa-beer")
									| &nbsp Resume builder
							li
								a(href="/account")
									i(class="fa fa-cog")
									| &nbsp Account
							li
								a(href="/logout")
									i(class="fa fa-sign-out")
									| &nbsp Logout
						- else
							li
								a(href="/register")
									i(class="fa fa-pencil-square")
									| &nbsp Register
							li
								a(href="/login")
									i(class="fa fa-sign-in")
									| &nbsp Login
		.container
			.jumbotron
				block content
