extends ./layout.jade

block head
	script(src="public/libraries/underscore/underscore-min.js")
	script(src="public/libraries/backbone/backbone-min.js")
	
block content
	h3 Rate other users (you cannot rate yourself):
	include ../static/rate.html
