extends ./layout.jade

block content
	.container
		h3 Please Register:
		if(unauthorized)
			div.alert.alert-danger #{message}
		form(role="form", action="/register", method="post", required)
			div.form-group
				label First Name:
				input.form-control(type="text", placeholder="Enter First Name", name="firstName", autofocus="", required, pattern="[A-Za-z]*", title="Alphabetic characters only")
			div.form-group
				label Last Name:
				input.form-control(type="text", placeholder="Enter Last Name", name="lastName", autofocus="", required, pattern="[A-Za-z]*", title="Alphabetic characters only")
			div.form-group
				label Email:
				input.form-control(type="email", placeholder="Enter Email", name="email", required, title="Emails only")
			div.form-group
				label Password:
				input.form-control(type="password", placeholder="Enter Password", name="password", required, pattern="[A-Za-z0-9!@#$%^&*-].{8,16}", title="Must contain at least one number, one uppercase letter, one lowercase letter, between least 8 to 16 characters long and at least one special character ! @ # $ % ^ & * -")
			div.btn-group
				button.btn.btn-primary(type="submit", autofocus) Register
