extends ./layout.jade

block content
	h2 Search users/resumes:
	form.form-horizontal(action="/search", method="get")
		.form-group
		.form-group
			label.control-label.col-sm-2(for='keyword') Keyword:
			.col-sm-10
				input#keyword.form-control(name="keyword", type='text', placeholder='Enter a keyword to search')
		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-primary(type='submit') Search

	- if (users && users.length > 0)    
		table.table.table-bordered
			thead
				tr
					th Firstname
					th Lastname
					th.hidden-xs Email
					th Link
			tbody
			- each user in users
				tr
					td #{user.firstName}
					td #{user.lastName}
					td.hidden-xs #{user.email}
					td 
						a.btn.btn-primary(target='_blank', href='/profile/#{user.hashcode}') Link
						
	- else if (search)
		.alert.alert-danger
			strong No result found. 
			| Please try anther keyword.
